.footer {
  position: fixed;
  bottom:0;
  left:0;
  height: 20vh;
  background: #272b33;
  margin-top: 10px;
}

.icon-up-page {
  display: flex;
  color: #ffffff;
  fill: green;
  items-position: center;
}
