.footer {
  position: flex;
  flex-wrap: wrap;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20vh;
  background: #272B33;
}

.icon-up-page {
  display: flex;
  color: #ffffff;
  fill: green;
  items-position: center;
}
