.footer {
    display: flex;
    background: var(--color4);
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    color:  var(--color2);
    align-items: center;
    justify-content: space-around ;
}

.information-licence {
  font-size: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.options-footer > ul{
  display: flex;
  flex-direction: colunm;
  list-style: none;
  margin-left: 5px; 
  margin-right: 5px
}

.options-footer > ul > li{
  font-size: 16px;
  margin-left: 5px; 
  margin-right: 5px
}

.options-footer > ul > li > a {
  text-decoration: none;
  color:  var(--color2);
  transition: 0.4s;
}

.options-footer > ul > li > a:hover {
  color: var(--color1);
}