@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

:root {
  --font-mono: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  /* Paleta de cores para os objs */
  --color1: #8acbff;
  --color2: #c1f2ff;
  --color3: #001e36;
  --color4: #272b33;
  --color5: #73777c;
  --color6: #e2e2e2;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--color6);
  height: 100%;
}

.container {
  display: grid;
  grid-template-rows: 10vh auto 15vh;
  grid-template-area: "header" "content" "footer";
  min-height: 100%;
}

.content {
  background-color: #ffff;
}
